html, body, .row, .sidebar, .main-content, #map {
  height: 100%;
}

/* label color */
 .input-field label {
   color: black;
 }

 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: black;
 }

 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid rgba(158, 158, 158, 1.00);
   box-shadow: 0 1px 0 0 rgba(158, 158, 158, 1.00);
 }

.dropdown-content li>span {
  color: black;
}

.nav-wrapper {
  padding-left: 8px;
}

#incomplete {
	display: none;
	width: 450px;
	padding-left: 210px;
	color: red;
	height: 25px;
	margin-top: -25px;
}

#searchButton {
	width: 450px;
	height: 65px;
}