html, body, .row, .sidebar, .row .col.s8.main-content {
  height: 100%;
}

.row .col.s8.main-content {
  padding: 0;
}

/* label color */
 .input-field label {
   color: black;
 }

 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: black;
 }

 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid rgba(158, 158, 158, 1.00);
   box-shadow: 0 1px 0 0 rgba(158, 158, 158, 1.00);
 }

.dropdown-content li>span {
  color: black;
}

.nav-wrapper {
  padding-left: 16px;
}

span.stars, span.stars span {
    display: block;
    /*background: url(../img/stars.png) 0 -16px repeat-x;*/
    width: 80px;
    height: 16px;
}

span.stars span {
    background: url(../img/stars.png) 0 0 repeat-x;
    background-position: 0 0;
}

#incomplete {
	display: none;
	color: red;
}

#searchButton {
	width: 450px;
	height: 65px;
}

#instructions{
	float:left;
	width: 800px;
}

#restart {
	display: none;
	width: 120px;
	text-align: center;
}

#back {
	display: none;
	height: 54px;
	width: 100px;
}

#display {
	float:left;
	width:800px;
	padding-top:150px;
}

#main {
	height: 100%;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 25%;
    }
}